@page "/"

<h1>Merhaba, CLK personeli</h1>

Sistemi kullanabilmek için öncelikle sol taraftaki menülerden takip kaydı oluşturmalısın.

<ClkTeknoloji.CustomerDashboard.CustomComponents.CustomerDropDown @bind-Value="serviceId" @bind-Value:event="ValueChanged"/>

<p>@serviceId</p>

@code {
    public int serviceId = 1;
}