@page "/"
@using ClkTeknoloji.CustomerDashboard.CustomComponents.ModalComponents 
<h1>Merhaba, CLK personeli</h1>

Sistemi kullanabilmek için öncelikle sol taraftaki menülerden takip kaydı oluşturmalısın.



@code {

}